/* Remove gradient background on home page */
:root,
:where(html:not(.rp-dark)),
:where(html.rp-dark) {
  --rp-home-background-bg: var(--rp-c-bg, #fff);
  --rp-home-feature-bg: var(--rp-c-bg, #fff);
}

html.rp-dark {
  --rp-home-background-bg: var(--rp-c-bg, #121212);
  --rp-home-feature-bg: var(--rp-c-bg, #121212);
}
